.code {
  background-color: #0300003c;
  border-radius: 2px;
  padding: 5px;
  display: block;
  margin: 5px 0;
  font-family: monospace;
  padding: 10px;
  max-width: 40%;
}
.highlight {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}
ul {
  display: inline-block;
}

button {
  margin-top: 5px;
  padding: 4px 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
}
pre {
  background-color: #00000030;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  max-width: 90%;
}

body{
    padding-left:50px;
}